section
{
	/*background-color: grey;*/
	width: 100px;
	margin-left: 50%;
	
	margin-bottom: 100px;
	text-align: center;
	border: 5px blue solid;
}
footer
{
	width: 350px;
	height: 90px;
	margin: auto;
	text-align: justify;
	border: 5px blue solid;
	overflow: auto;
}
